/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;

  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.logo {
  width: 100%;
  height: auto;
}
.foto {
  width: 50%;
  height: auto;
  margin-left: 50px;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/************ Navbar Css ************/
nav.navbar {
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar img {
  height: auto;
  width: 75px;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 8%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.6px;
  padding: 0 20px;
  font-size: 16px;
  opacity: 0.95;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 16px;
}
.social-icon a {
  width: 36px;
  height: 36px;
  background: linear-gradient(90.21deg, #00030d -5.91%);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 36px;
  height: 36px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
  font-size: 16px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media only screen and (max-width: 768px) {
  nav.navbar {
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.32s ease-in-out;
  }
  nav.navbar img {
    height: 60px;
    width: auto;
  }
  nav.navbar a.navbar-brand {
    width: 10%;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.6px;
    padding: 10px;
    font-size: 12px;
    opacity: 0.95;
  }
  .navbar-text button {
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  .social-icon a img {
    display: flex;
    width: 25%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
}
@media only screen and (max-width: 428px) {
  nav.navbar {
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    background-color: #252934;
  }

  nav.navbar img {
    height: 40px;
    width: auto;
  }
  .social-icon a img {
    width: 35%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 15% 5% 5% 15%;
  background: black;
  background-position: top center;
  background-size: cover;
  background-image: url("./assets/img/fondo.png");
  background-repeat: repeat;
  background-size: 100% 100%;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
.banner h1 {
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1;
  margin-bottom: 40px;
  display: block;
}
.banner p {
  color: #d4c7c7;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 20px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.txt-rotate > .wrap {
  border-right: 0.05em solid #666;
}
@media only screen and (max-width: 768px) {
  .banner {
    margin-top: 0;
    padding: 15% 5% 15% 10%;
    background: black;
    background-position: top center;
    background-size: cover;
    background-image: url("./assets/img/fondo.png");
    background-repeat: repeat;
    background-size: 100% 100%;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #d4c7c7;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.5em;
    width: 100%;
  }
  .foto {
    display: block;
    width: 40%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 428px) {
  .banner {
    margin-top: 0;
    padding: 25% 5%;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 10px;
    font-size: 22px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 1;
    margin-bottom: 15px;
    display: block;
  }
  .banner p {
    margin-bottom: 20px;
    color: #d4c7c7;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 1.5em;
    width: 100%;
  }
  .foto {
    display: block;
    width: 30%;
    margin: 0 auto;
  }
}

/* Certifications */
.academic {
  padding: 3%;
  background: linear-gradient(90.21deg, #000104 -74.91%, #03123a 111.58%);
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.courses-box {
  width: calc(25% - 20px);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px; 
  box-sizing: border-box;
  text-align: center;
}

.courses-box img {
  max-width: 100%;
  height: 65%;
  border-radius: 10px;
}

.courses-box h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 8px 0;
}

.courses-box p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .courses-box {
    width: 45%;
    margin: 10px 2.5%; /* Espaciado y centrado en pantallas pequeñas */
  }
}

@media only screen and (max-width: 428px) {
  .courses-box {
    width: 100%;
    margin: 10px 0; /* Espaciado y centrado en pantallas aún más pequeñas */
  }
  .courses-box img {
    height: 220px;
  }
}

/************ Skills Css ************/
.skill {
  padding: 18px 0 120px 0;
  position: relative;
  margin-top: 0;
  background: #252934;
  background-position: top center;
  background-size: cover;
}
.skill-bx {
  background-color: #121212;
  border-radius: 24px;
  text-align: center;
  padding: 40px 20px 40px;
  margin-top: 60px;
}
.skill h2 {
  padding: 50px 10px 24px 0;
  font-size: 1.5rem;
  font-weight: 600;
}
.skill p {
  color: #b8b8b8;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 0px auto;
  text-align: justify;
  width: 80%;
}
.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 20%;
  margin: 0 auto 18px auto;
}
.background-image-left {
  top: 38%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.slider {
  width: 40%;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.slider img {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 1s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media only screen and (max-width: 428px) {
  .skill {
    padding: 18px 0 60px 0;
    margin-top: 0;
    background-size: initial;
  }

  .skill-bx {
    background-color: #121212;
    border-radius: 24px;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }

  .skill h2 {
    padding: 24px 0;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .skill p {
    color: #b8b8b8;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 12px auto 0px auto;
    text-align: justify;
    width: 90%;
  }
}

/************ Projects Css ************/
.project {
  padding: 60px 10px 60px;
  position: relative;
  background: black;
  background-position: top center;
  background-size: cover;
  background-image: url("./assets/img/fondo.png");
  background-repeat: repeat;
  background-size: 100% 100%;
}
.project h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: justify;
  width: 80%;
}
.proj-txtx span {
  margin-bottom: 10px;
}
.project .nav.nav-pills {
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #000000;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 50%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #ffffff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #ffffff2a;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.proj-imgbx {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #000104 -5.91%, #03123a 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, #000104 -74.91%, #03123a 111.58%);
  padding: 60px;
}
.contact img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
.contact h2 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #072449;
}
.contact form button::before {
  display: "flex";

  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 90%;
}
@media only screen and (max-width: 428px) {
  .contact {
    background: linear-gradient(90.21deg, #000104 -74.91%, #03123a 111.58%);
    padding: 10px 20px;
  }

  .contact img {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding-top: 10px;
  }

  .contact h2 {
    font-size: 26px; /* Ajuste del tamaño de fuente */
    font-weight: 600;
    margin-bottom: 15px; /* Ajuste del margen inferior */
    text-align: center; /* Centrar el texto */
  }

  .contact form input,
  .contact form textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 0 0 10px 0; /* Ajuste del margen inferior */
    padding: 12px; /* Ajuste del padding */
    font-weight: 500;
    font-size: 14px; /* Ajuste del tamaño de fuente */
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
  }

  .contact form input::placeholder,
  .contact form textarea::placeholder {
    font-size: 14px; /* Ajuste del tamaño de fuente */
    font-weight: 400;
    color: #fff;
  }

  .contact form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 8px 16px; /* Ajuste del padding */
    font-size: 16px; /* Ajuste del tamaño de fuente */
    margin-top: 20px; /* Ajuste del margen superior */
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
  }

  .contact form button span {
    z-index: 1;
    position: relative;
  }

  .contact form button::before {
    display: "flex";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
  }
}

/************ Footer Css ************/
.footer {
  display: flex;
  padding: 40px 0 40px 0;
  background: #121212;
}

.footer img {
  width: 60px;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

@media (max-width: 428px) {
  .logo-footer {
    display: block;
    padding-top: 20px;
    margin: 0 auto;
  }
}
